In [52]:
import pandas

# Đọc file CSV
df = pandas.read_csv('dulieuxettuyendaihoc.csv')
df

Index(['STT', 'T1', 'L1', 'H1', 'S1', 'V1', 'X1', 'D1', 'N1', 'T2', 'L2', 'H2',
       'S2', 'V2', 'X2', 'D2', 'N2', 'T3', 'L3', 'H3', 'S3', 'V3', 'X3', 'D3',
       'N3', 'T4', 'L4', 'H4', 'S4', 'V4', 'X4', 'D4', 'N4', 'T5', 'L5', 'H5',
       'S5', 'V5', 'X5', 'D5', 'N5', 'T6', 'L6', 'H6', 'S6', 'V6', 'X6', 'D6',
       'N6', 'GT', 'DT', 'KV', 'DH1', 'DH2', 'DH3', 'KT'],
      dtype='object')

In [44]:
#Cau 3  10 dong dau && 10 dong cuoi
df.head(10)

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,KT,TBM1,TBM2,TBM3,TBM3,TBM3,TBM3,XL1,XL2,TBM6
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,A1,7.00,7.54,7.01,7.01,7.01,7.01,K,K,7.01
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,C,4.69,5.47,5.07,5.07,5.07,5.07,Y,TB,5.07
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,C,5.77,5.38,6.04,6.04,6.04,6.04,TB,TB,6.04
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,D1,6.21,5.20,6.88,6.88,6.88,6.88,TB,TB,6.88
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,A,6.50,6.36,6.99,6.99,6.99,6.99,K,TB,6.99
5,6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,...,D1,7.96,8.54,7.38,7.38,7.38,7.38,K,G,7.38
6,7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,...,C,4.90,5.60,6.01,6.01,6.01,6.01,Y,TB,6.01
7,8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,...,D1,6.80,6.87,7.03,7.03,7.03,7.03,K,K,7.03
8,9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,...,D1,6.23,6.72,7.56,7.56,7.56,7.56,TB,K,7.56
9,10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,...,D1,6.80,7.25,7.03,7.03,7.03,7.03,K,K,7.03

In [45]:
df.tail(10)

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,KT,TBM1,TBM2,TBM3,TBM3,TBM3,TBM3,XL1,XL2,TBM6
90,91,8.1,7.7,9.1,8.5,6.1,8.6,8.8,7.3,8.8,...,A,7.84,8.27,8.29,8.29,8.29,8.29,K,G,8.29
91,92,7.8,6.5,6.7,5.4,6.2,4.8,5.9,4.4,8.9,...,A,6.17,6.63,7.65,7.65,7.65,7.65,TB,K,7.65
92,93,5.0,6.6,6.5,7.2,5.8,6.7,6.4,6.0,6.8,...,A,6.10,6.53,6.76,6.76,6.76,6.76,TB,K,6.76
93,94,5.2,5.2,6.8,7.9,6.6,8.9,7.6,5.3,6.8,...,A,6.53,7.12,6.97,6.97,6.97,6.97,K,K,6.97
94,95,5.8,5.9,7.6,6.1,5.3,8.1,6.1,5.0,6.4,...,A,6.10,6.71,6.68,6.68,6.68,6.68,TB,K,6.68
95,96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,...,C,7.43,7.42,6.83,6.83,6.83,6.83,K,K,6.83
96,97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,...,C,4.93,5.15,6.39,6.39,6.39,6.39,Y,TB,6.39
97,98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,...,C,7.05,7.84,7.67,7.67,7.67,7.67,K,K,7.67
98,99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,...,C,4.15,4.72,5.29,5.29,5.29,5.29,Y,Y,5.29
99,100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,...,C,5.26,5.72,5.85,5.85,5.85,5.85,TB,TB,5.85

In [46]:
#Cau 4  Thống kê dữ liệu thiếu cho cột dân tộc
df["DT"].fillna(0, inplace = False)

0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
     ...
95    0.0
96    0.0
97    0.0
98    0.0
99    0.0
Name: DT, Length: 100, dtype: float64

In [47]:
#Cau 5 Thống kê dữ liệu thiếu cho biến T1 và hiệu chỉnh dữ liệu
df["T1"].fillna(df["T1"].mean(), inplace = False)

0     7.2
1     5.4
2     5.6
3     6.6
4     6.0
     ...
95    8.6
96    3.7
97    8.8
98    2.7
99    4.1
Name: T1, Length: 100, dtype: float64

In [48]:
# cau 6 Hãy thực hiện xử lý lần lượt tất cả dữ liệu thiếu cho các biến về điểm số còn lại.
def fill(col):
    return df[col].fillna(df[col].mean(), inplace = False)

In [54]:

is_float64 = df.dtypes == float
df_column_list = df.columns[is_float64].tolist()
df_column_list

Index(['STT', 'T1', 'L1', 'H1', 'S1', 'V1', 'X1', 'D1', 'N1', 'T2', 'L2', 'H2',
       'S2', 'V2', 'X2', 'D2', 'N2', 'T3', 'L3', 'H3', 'S3', 'V3', 'X3', 'D3',
       'N3', 'T4', 'L4', 'H4', 'S4', 'V4', 'X4', 'D4', 'N4', 'T5', 'L5', 'H5',
       'S5', 'V5', 'X5', 'D5', 'N5', 'T6', 'L6', 'H6', 'S6', 'V6', 'X6', 'D6',
       'N6', 'GT', 'DT', 'KV', 'DH1', 'DH2', 'DH3', 'KT'],
      dtype='object')

In [55]:
for col in df_column_list:
    fill(col)

df

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.50,A1
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,6.6,6.1,4.4,M,NaN,1,6.00,4.00,3.50,C
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,7.9,8.1,4.6,M,NaN,1,5.00,6.75,4.00,C
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,7.1,7.3,7.4,M,NaN,1,4.25,4.25,5.25,D1
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,6.1,7.5,7.2,M,NaN,2NT,4.25,4.50,5.00,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,...,6.3,6.1,6.2,F,NaN,1,5.25,1.50,6.25,C
96,97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,...,7.9,7.5,4.4,F,NaN,1,5.25,3.75,4.75,C
97,98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,...,9.6,8.4,5.8,M,NaN,2NT,7.00,8.00,4.00,C
98,99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,...,6.6,5.2,5.9,M,NaN,1,5.00,3.50,5.50,C
99,100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,...,5.6,6.6,5.8,M,NaN,2NT,5.25,2.50,4.25,C

In [57]:
# Cau 7: Tạo các biến TBM1, TBM2, TBM3 tương ứng với trung bình môn của các năm lớp 10, 11 và 12.
# • Công thức tính: TBM = (T*2 + L + H + S + V*2 + X + D + N) / 10
for i in ["1", "2", "6"]:
    df["TBM"+i] = (df["T"+i]*2 + df["L"+i] + df["H"+i] + df["S"+i] + df["V"+i]*2 + df["X"+i] + df["D"+i] + df["N"+i])/10

df.rename(columns ={"TBM6":"TBM3"}, inplace =True)
df.head(10)

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,GT,DT,KV,DH1,DH2,DH3,KT,TBM1,TBM2,TBM3
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,F,NaN,2NT,3.25,3.25,4.50,A1,7.00,7.54,7.01
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,M,NaN,1,6.00,4.00,3.50,C,4.69,5.47,5.07
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,M,NaN,1,5.00,6.75,4.00,C,5.77,5.38,6.04
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,M,NaN,1,4.25,4.25,5.25,D1,6.21,5.20,6.88
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,M,NaN,2NT,4.25,4.50,5.00,A,6.50,6.36,6.99
5,6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,...,M,NaN,1,1.50,4.00,6.00,D1,7.96,8.54,7.38
6,7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,...,F,NaN,2,6.50,6.75,5.25,C,4.90,5.60,6.01
7,8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,...,F,NaN,2,3.75,4.50,4.25,D1,6.80,6.87,7.03
8,9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,...,F,NaN,1,3.50,3.50,6.75,D1,6.23,6.72,7.56
9,10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,...,F,NaN,1,4.00,4.75,5.50,D1,6.80,7.25,7.03

In [59]:
# Cau 8 : Tạo các biến xếp loại XL1, XL2 và XL3 dựa trên TBM1,TBM2 và TBM3 cho từng năm lớp 10, 11, 12 như sau:
# • Nhỏ hơn 5.0 xếp loại: yếu (kí hiệu là Y)
# • Từ 5.0 đến dưới 6.5: trung bình (kí hiệu là TB)
# • Từ 6.5 đến dưới 8.0: khá (kí hiệu là K)
# • Từ 8.0 đến dưới 9.0: giỏi (kí hiệu là G)
# • Từ 9.0 trở lên: xuất sắc (kí hiệu là XS)

for i in ["1", "2", "3"]:
    df.loc[df["TBM"+i] <= 5, "XL"+i] = "Y"
    df.loc[(df["TBM"+i] <= 6.5) &(df["TBM"+i] > 5), "XL"+i] = "TB"
    df.loc[(df["TBM"+i] <= 8) &(df["TBM"+i] >= 6.5), "XL"+i] = "K"
    df.loc[(df["TBM"+i] <= 9) &(df["TBM"+i] >= 8), "XL"+i] = "G"
    df.loc[df["TBM"+i] >= 9, "XL"+i] = "XS"
df.head()

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,DH1,DH2,DH3,KT,TBM1,TBM2,TBM3,XL1,XL2,XL3
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,3.25,3.25,4.50,A1,7.00,7.54,7.01,K,K,K
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,6.00,4.00,3.50,C,4.69,5.47,5.07,Y,TB,TB
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,5.00,6.75,4.00,C,5.77,5.38,6.04,TB,TB,TB
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,4.25,4.25,5.25,D1,6.21,5.20,6.88,TB,TB,K
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,4.25,4.50,5.00,A,6.50,6.36,6.99,K,TB,K

In [63]:
# Cau 9: Tạo các biến US_TBM1, US_TBM2 và US_TBM3 để chuyển điểm trung bình các năm lớp
# 10, 11 và 12 từ thang điểm 10 của Việt Nam sang thang điểm 4 của Mỹ. Sử dụng phương
# pháp Min-Max Normalization
for i in ["1", "2", "3"]:
    df["US_TBM"+i] = df["TBM"+i]/10 *4
df.head()

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,KT,TBM1,TBM2,TBM3,XL1,XL2,XL3,US_TBM1,US_TBM2,US_TBM3
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,A1,7.00,7.54,7.01,K,K,K,2.800,3.016,2.804
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,C,4.69,5.47,5.07,Y,TB,TB,1.876,2.188,2.028
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,C,5.77,5.38,6.04,TB,TB,TB,2.308,2.152,2.416
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,D1,6.21,5.20,6.88,TB,TB,K,2.484,2.080,2.752
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,A,6.50,6.36,6.99,K,TB,K,2.600,2.544,2.796

In [68]:
# cau 10:  Tạo biến kết quả xét tuyển (kí hiệu là KQXT) nhằm xác định sinh viên đậu (giá trị “1”) và
# rớt ( giá trị “0”) vào các khối dựa trên điểm DH1, DH2 và DH3 như sau
# • Với khối A, A1 nếu [(DH1*2 + DH2 + DH3)/4] lớn hơn hoặc bằng 5.0 thì đậu,
# ngược lại là rớt
# • Với khối B nếu [(DH1 + DH2*2 + DH3)/4] lớn hơn hoặc bằng 5.0 thì đậu, ngược
# lại là rớt
# • Với khối khác nếu [(DH1+ DH2 + DH3)/3] lớn hơn hoặc bằng 5.0 thì đậu, ngược
# lại là rớt

# Xét khối A và A1
df.loc[
    df["KT"].isin(["A", "A1"]) & ((df["DH1"] * 2 + df["DH2"] + df["DH3"]) / 4 >= 5), 
    "KQXT"
] = 1

df.loc[
    df["KT"].isin(["A", "A1"]) & ((df["DH1"] * 2 + df["DH2"] + df["DH3"]) / 4 < 5), 
    "KQXT"
] = 0

# Xét khối B
df.loc[
    (df["KT"] == "B") & ((df["DH1"] + df["DH2"] * 2 + df["DH3"]) / 4 >= 5), 
    "KQXT"
] = 1

df.loc[
    (df["KT"] == "B") & ((df["DH1"] + df["DH2"] * 2 + df["DH3"]) / 4 < 5), 
    "KQXT"
] = 0

# Xét các khối khác
df.loc[
    ~df["KT"].isin(["A", "A1", "B"]) & ((df["DH1"] + df["DH2"] + df["DH3"]) / 3 >= 5), 
    "KQXT"
] = 1

df.loc[
    ~df["KT"].isin(["A", "A1", "B"]) & ((df["DH1"] + df["DH2"] + df["DH3"]) / 3 < 5), 
    "KQXT"
] = 0


df.head(20)

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,TBM1,TBM2,TBM3,XL1,XL2,XL3,US_TBM1,US_TBM2,US_TBM3,KQXT
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,7.00,7.54,7.01,K,K,K,2.800,3.016,2.804,0.0
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,4.69,5.47,5.07,Y,TB,TB,1.876,2.188,2.028,0.0
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,5.77,5.38,6.04,TB,TB,TB,2.308,2.152,2.416,1.0
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,6.21,5.20,6.88,TB,TB,K,2.484,2.080,2.752,0.0
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,6.50,6.36,6.99,K,TB,K,2.600,2.544,2.796,0.0
5,6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,...,7.96,8.54,7.38,K,G,K,3.184,3.416,2.952,0.0
6,7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,...,4.90,5.60,6.01,Y,TB,TB,1.960,2.240,2.404,1.0
7,8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,...,6.80,6.87,7.03,K,K,K,2.720,2.748,2.812,0.0
8,9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,...,6.23,6.72,7.56,TB,K,K,2.492,2.688,3.024,0.0
9,10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,...,6.80,7.25,7.03,K,K,K,2.720,2.900,2.812,0.0
10,11,5.2,6.4,7.4,7.0,7.1,8.1,7.6,6.8,6.3,...,6.79,7.28,7.34,K,K,K,2.716,2.912,2.936,0.0
11,12,7.9,7.0,9.1,8.6,6.1,7.0,5.6,9.0,8.2,...,7.43,7.72,7.49,K,K,K,2.972,3.088,2.996,1.0
12,13,7.3,6.3,8.7,7.7,6.6,8.5,6.9,8.5,5.8,...,7.44,6.82,7.46,K,K,K,2.976,2.728,2.984,0.0
13,14,4.9,5.4,5.0,5.0,5.8,7.0,4.2,5.8,4.5,...,5.38,5.51,6.26,TB,TB,TB,2.152,2.204,2.504,0.0
14,15,7.1,8.0,9.1,7.5,6.1,7.7,7.9,7.6,8.3,...,7.42,7.57,7.95,K,K,K,2.968,3.028,3.180,0.0
15,16,2.5,5.3,4.9,8.2,6.9,6.0,6.7,5.0,6.2,...,5.49,6.44,6.21,TB,TB,TB,2.196,2.576,2.484,0.0
16,17,8.8,7.0,7.7,7.1,6.1,5.4,8.3,5.3,7.3,...,7.06,6.89,6.73,K,K,K,2.824,2.756,2.692,0.0
17,18,5.4,6.0,4.9,5.5,4.2,7.3,5.3,4.9,4.8,...,5.31,6.16,6.85,TB,TB,K,2.124,2.464,2.740,0.0
18,19,5.6,4.8,7.3,3.9,5.5,6.0,6.1,4.8,5.5,...,5.51,5.65,6.79,TB,TB,K,2.204,2.260,2.716,0.0
19,20,8.2,7.3,7.8,7.6,5.6,7.2,6.0,6.5,6.4,...,7.00,6.22,6.72,K,TB,K,2.800,2.488,2.688,0.0

In [69]:
# cau 11: Lưu trữ dữ liệu xuống ổ đĩa thành file processed_dulieuxettuyendaihoc.csv
df.to_csv("processed_dulieuxettuyendaihoc.csv")